<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.auth.mapper.UmsMenuMapper">

    <select id="selectByRoleIds" resultType="com.demo.auth.domain.entity.UmsMenu">
        select um.id,um.parent_id,um.menu_name,um.sort,um.menu_type,um.path,um.component_path,um.perms,um.icon
        from ums_menu um
        join ums_role_menu rm on um.id = rm.menu_id
        where um.status = 0 and um.deleted = 0 and rm.role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>
</mapper>
